---
layout: default
---
<ul id="entries">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <figure>
        {% if post.image %}
          {% assign thumbnail = {{ post.image | relative_url | replace: '.jpg', '_thumbnail.jpg' }} %}
          <img src="{{ thumbnail }}" srcset="{{ thumbnail }} 1x, {{ thumbnail | replace: '_thumbnail.jpg', '_thumbnail@2x.jpg' }} 2x"  alt="{{ post.title }}">
        {% else %}
          <span class="js-entry-bg"></span>
        {% endif %}
        <figcaption>
          <span>
            <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: '%Y.%m.%d' }}</time>
            {{ post.content | strip_html | truncate: 51 }}
          </span>
        </figcaption>
      </figure>
      {{ post.title }}
    </a>
  </li >
  {% endfor %}
</ul>


/selective-focus-photograph-of-black-crow-946344_thumbnail.jpg