---
layout: default
---
<ul id="entries">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">
      <figure>
        {% if post.image %}
          <img src="{{ post.image | relative_url | replace: '.jpg', '_thumbnail.jpg' }}" alt="{{ post.title }}">
        {% else %}
          <span class="js-entry-bg"></span>
        {% endif %}
        <figcaption>
          <span>
            <time datetime="{{ post.date }}" itemprop="datePublished">{{ post.date | date: '%Y.%m.%d' }}</time>
            {{ post.content | strip_html | truncate: 51 }}
          </span>
        </figcaption>
      </figure>
      {{ post.title }}
    </a>
  </li >
  {% endfor %}
</ul>
