@media screen and (max-width: 999px) {

  /* COMMON
  --------------------------------------------------------- */
  header{
    padding: 1em 0px 9em !important;
    .default & {
      background-position: center;
    }
    h1{
      img{
        width: 110px !important;
      }
    }
    h2{
      img{
        width: 80px !important;
      }
    }
  }

  #contents{
    margin: 3em 0;
  }

  footer{
    nav{
      width: 100%;
    }
  }

  #entries{
    text-align: center;
    li{
      width: 33.333%;
      margin-bottom: 5%;
      box-sizing: border-box;
    }
  }

  .post, .archive{
    header{
      padding: .8em 0 .6em !important;
    }
  }

}

@media screen and (max-width: 768px) {

  #entries{
    li a{
      &:hover{
        figure figcaption{
          bottom: auto;
        }
      }
      figure figcaption{
        top: -100%;
      }
    }
  }

}
@media screen and (max-width: 736px) {

  /* COMMON
  --------------------------------------------------------- */

  #entries{
    text-align: center;
    li{
      width: 50%;
      margin-bottom: 5%;
    }
  }

  iframe {
    width: 100%;
  }

  footer{
    padding: 2em 2em 1em;
    nav section{
      float: none;
      width: auto;
      margin-bottom: 3em;
      &.sns{
        text-align: center;
        h2{
          display: none;
        }
      }
    }
    .copyright{
      text-align: center;
    }
  }

  /* SINGLE
  --------------------------------------------------------- */
  .post{
    article{
      font-size: 1.6rem;
      h1{
        font-size: 2.5rem;
      }
    }
  }

}

@media screen and (max-width: 500px) {

  #entries{
    text-align: center;
    li{
      a{
        width: auto;
        padding: 0;
        figure{
          width: 150px;
          height: 150px;
          figcaption{
            span{
              height: 5em;
              padding: 16% 10%;
            }
          }
        }
      }
    }
  }

}
